.projects {
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
  width: 45%;
  margin: 10px 0;
  position: relative;
  padding-bottom: 5rem;
  border-radius: 4px;
}

.custom-portfolio-container {
  background-color: rgba(185, 120, 173, 0.95) !important;
  color: rgb(255, 189, 131);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  overflow: auto;
  margin: 48px auto 128px;
  width: 80% !important;
}

.projects:hover {
  box-shadow: 0 0 50px rgb(255, 189, 131), inset 0 0 0 1000px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 50px rgb(255, 189, 131), inset 0 0 0 1000px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 0 50px rgb(255, 189, 131), inset 0 0 0 1000px rgba(255, 255, 255, 0.3);
}

.text-container {
  background-color: rgb(185, 120, 173);
  margin: 10px 30px 0;
  border-radius: 6px;
}

.text-container a {
  color: rgba(255, 189, 131, 0.9);
  padding: 10px 0;
  margin: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.text-container a:hover {
  color: rgba(255, 189, 131, 0.6);
}

.project-type-text {
  text-align: center;
  background-color: rgba(185, 120, 173);
  padding: 5px 10px;
  position: absolute;
  left: 10px;
  bottom: 1px;
  max-width: 90%;
  border-radius: 6px;
  user-select: none;
}

@media screen and (max-width: 820px) {
  .projects {
    width: 90%;
  }

  .custom-portfolio-container {
    margin: 0 auto 66px;
    width: 100% !important;
  }
}

@media screen and (max-width: 400px) {
  .projects {
    border-radius: 8px;
    border: 0.5px solid;
  }

  .text-container {
    border: 0.5px solid;
    width: 100%;
    margin: 0;
  }

  .custom-portfolio-container {
    margin-bottom: 41px;
  }
}
