.custom-container {
  background-color: rgba(185, 120, 173, 0.95) !important;
  color: rgb(255, 189, 131);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  overflow: auto;
  margin: 48px auto 128px;
  width: 90%;
}

form a {
  color: rgb(255, 189, 131);
}

button.custom-form-btn {
  background-color: rgb(255, 189, 131);
  width: 25%;
  margin: 0 auto;
  color: rgb(185, 120, 173);
  transition: 0.5s;
}

button.custom-form-btn:hover {
  background-color: rgb(230, 186, 146);
  color: rgb(168, 108, 157);
}

.resume-link {
  text-decoration: none;
  color: rgb(113, 12, 117);
}

@media screen and (max-width: 620px) {
  .custom-container {
    max-width: 100% !important;
    margin: 0 auto 66px;
  }
}

@media screen and (max-width: 400px) {
  .custom-container {
    margin: 0 0 40px;
  }
}
