.footer {
    text-align: right;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(185,120,173), rgb(185,120,173), rgb(255,189,131),  rgb(185,120,173), rgb(185,120,173));
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: rgb(255,189,131);
}

.footer p {
    color: rgb(255,189,131);
}

.footer-copyright {
    margin-left: auto;
}